body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:352px;
  top:520px;
  width:626px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:400px;
  top:193px;
  width:383px;
  height:97px;
  font-family:'Axure Handwriting Bold', 'Axure Handwriting';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:97px;
}
#u4 {
  position:absolute;
  left:0px;
  top:6px;
  width:383px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:446px;
  top:390px;
  width:61px;
  height:34px;
  font-family:'方正兰亭粗黑_GBK Regular', '方正兰亭粗黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#CC3300;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:34px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:633px;
  top:390px;
  width:91px;
  height:34px;
  font-family:'方正兰亭粗黑_GBK Regular', '方正兰亭粗黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#993399;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:839px;
  top:390px;
  width:61px;
  height:34px;
  font-family:'方正兰亭粗黑_GBK Regular', '方正兰亭粗黑_GBK';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3366FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:34px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:390px;
  top:485px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:560px;
  top:485px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:700px;
  top:485px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:810px;
  top:485px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:267px;
  top:560px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:78px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:78px;
}
#u17 {
  position:absolute;
  left:0px;
  top:11px;
  width:686px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:740px;
  top:293px;
  width:170px;
  height:17px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1174px;
  top:20px;
  width:11px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:334px;
  top:490px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:519px;
  top:490px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
  position:absolute;
  left:390px;
  top:485px;
  width:100px;
  height:25px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12.a {
  position:absolute;
  left:560px;
  top:485px;
  width:100px;
  height:25px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13.a {
  position:absolute;
  left:700px;
  top:485px;
  width:100px;
  height:25px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14.a {
  position:absolute;
  left:810px;
  top:485px;
  width:100px;
  height:25px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15.a {
  position:absolute;
  left:267px;
  top:560px;
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}

.logo {
    width:550px;
}
