body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:44px;
  width:1310px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:190px;
  width:1024px;
  height:640px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:73px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:151px;
  top:93px;
  width:88px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:137px;
  top:222px;
  width:328px;
  height:28px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:272px;
  width:328px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:342px;
  top:310px;
  width:328px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:542px;
  top:250px;
  width:328px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:592px;
  top:348px;
  width:328px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1090px;
  top:240px;
  width:200px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:1090px;
  top:190px;
  width:150px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1090px;
  top:220px;
  width:150px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1090px;
  top:292px;
  width:200px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:1090px;
  top:272px;
  width:150px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1090px;
  top:344px;
  width:200px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26_input:disabled {
  color:grayText;
}
#u27 {
  position:absolute;
  left:1090px;
  top:324px;
  width:150px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1046px;
  top:152px;
  width:289px;
  height:28px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1090px;
  top:376px;
  width:150px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1090px;
  top:406px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:1065px;
  top:460px;
  width:235px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:218px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:235px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1070px;
  top:500px;
  width:230px;
  height:245px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:245px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:1070px;
  top:770px;
  width:170px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:1250px;
  top:777px;
  width:50px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:1070px;
  top:805px;
  width:100px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:252px;
  top:95px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:311px;
  top:95px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
  position:absolute;
  left:1090px;
  top:240px;
  width:200px;
  height:22px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:1090px;
  top:292px;
  width:200px;
  height:22px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24.a {
}
#u26.a {
  position:absolute;
  left:1090px;
  top:344px;
  width:200px;
  height:22px;
}
#u26_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27.a {
}
#u29.a {
}
#u29_img.a {
}
#u30.a {
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:1090px;
  top:406px;
  width:100px;
  height:25px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34.a {
}
#u34_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end.a {
  position:absolute;
  left:218px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:235px;
  height:1px;
}
#u35.a {
  position:absolute;
  left:1070px;
  top:500px;
  width:230px;
  height:245px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:245px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36.a {
  position:absolute;
  left:1070px;
  top:770px;
  width:170px;
  height:25px;
}
#u36_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37.a {
}
#u37_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.a {
}
#u39.a {
  position:absolute;
  left:1070px;
  top:805px;
  width:100px;
  height:25px;
}
#u39_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40.a {
}
#u42.a {
}
