body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:463px;
  top:80px;
  width:177px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:220px;
  top:130px;
  width:650px;
  height:510px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:510px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
